<header>
    <nav class="navbar bg-body-tertiary ">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="../assets/img/logo-quipux.svg" alt="Logo Quipux" class="navbar-logo">
        </a>
        <div class="d-flex">
          <a href="" class="text-decoration-none">
            <span class="fs-14 text-muted align-items-center username">Samuel David Cañas Alvarez</span>
            <img src="../assets/img/usuario-de-perfil.png" alt="" class="ps-3" style="width: 50px;" />
          </a>
          
        </div>
      </div>
    </nav>
</header>