<aside class="col-md-3 custom-aside">
  <ul class="custom-list">
    <li class="custom-list-item">
      <a href="" class="text-decoration-none text-reset fs-17">Estudiantes
      </a>
    </li>
    <li class="custom-list-item">
      <a href="" class="text-decoration-none text-reset fs-17">Grupos</a>
    </li>
    <li class="custom-list-item link-menu active" routerLinkActive="active">
      <a href="" class="text-decoration-none text-reset hover-link fs-17" [routerLink]="['materias']">Materias</a>
    </li>
    <li class="custom-list-item">
      <a href="" class="text-decoration-none text-reset fs-17">Evaluaciones
      </a>
    </li>
    <li class="custom-list-item">
      <a href="" class="text-decoration-none text-reset fs-17">Informes
      </a>
    </li>
  </ul>
</aside>